* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body-color: #1a1717;
  --header-color: #050505;
  --footer-color: #050505;
  --side-bar-color: #1d1c1c;
  --color: #ffffff;
  --hover: #050505;
  --green: #005500;
}

.activelink {
  background-color: var(--green);
}

.dashbord-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.dashbord-link a {
  padding: 20px 10px;
  text-decoration: none;
  color: var(--color);
  border-radius: 5px;
  transition: 0.5s;
}

.dashbord-link a:hover {
  background-color: var(--hover);
}

.cart {
  position: relative;
}

.cart-number {
  color: white;
  position: absolute;
  top: -20px;
  right: -10px;
  background-color: coral;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.fa-shopping-cart {
  font-size: 30px !important;
  color: white;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.white {
  color: var(--color);
  text-decoration: none;
}

.logo-div {
  z-index: 99 !important;
}

.ibr {
  border-radius: 50%;
  border: 2px solid white;
}

.center-d {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.side-link {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.center {
  text-align: center;
}

.mt {
  margin-top: 20px;
}

.fs-1 {
  font-size: 6vw;
}

.py-1 {
  padding: 40px 0px;
}

.mb {
  margin-bottom: 20px;
}

.column {
  flex-direction: column;
}


.div {
  text-decoration: none;
  width: 20%;
  background-color: var(--header-color);
  padding: 20px 0px;
  box-shadow: 0px 1px 1px 0px rgba(253, 253, 253, 0.5);
  border-radius: 10px;
  color: var(--color);
}

.div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  transition: 0.5s;
}

.div:hover {
  cursor: pointer;
  background-color: var(--body-color);
}

.footer {
  background-color: var(--footer-color);
  color: var(--white);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}


body {
  background-color: var(--body-color);

}

header {
  position: absolute;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  padding: 0px 20px;
  height: 60px;
}

.bar-btn {
  border: none;
  padding: 11px 20px;
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.bar-btn:hover {
  background-color: var(--hover);
  color: var(--color);
}

.nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0vh;
  background-color: var(--side-bar-color);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mynav-show {
  height: 90vh;
  overflow-y: scroll;
}

.nav a {
  display: block;
  text-decoration: none;
  color: var(--color);
  padding: 20px 20px;
}


.nav a:hover {
  background-color: var(--hover);
}

/* dashboard profile =============start design */

.dash-profile {
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--side-bar-color);
  box-shadow: 0px 8px 16px 0px rgba(240, 237, 237, 0.5);
  padding: 20px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: none;

}

.profile-show {
  display: block;
}

.dash-profile a {
  display: block;
  padding: 10px 20px;
  color: var(--color);
  text-decoration: none;
  transition: 0.5s;
}

.dash-profile a:hover {
  background-color: var(--hover);
}